WebBooks/Connected Services/ServiceBooks/BookStoreService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ContribeBooks.models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ContribeBooks.models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBocker">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bocker" nillable="true" type="tns:Bocker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBocker" nillable="true" type="tns:ArrayOfBocker" />
  <xs:complexType name="Bocker">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InStock" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bocker" nillable="true" type="tns:Bocker" />
  <xs:complexType name="ArrayOfbasket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="basket" nillable="true" type="tns:basket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbasket" nillable="true" type="tns:ArrayOfbasket" />
  <xs:complexType name="basket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="basket" nillable="true" type="tns:basket" />
</xs:schema>