WebBooks/Connected Services/ServiceBooks/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59545/BookStoreService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59545/BookStoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59545/BookStoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ContribeBooks.models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookStoreService_DisplayUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayUserName" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_DisplayUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_GetBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBook" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_GetBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_AddToChart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToChart" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_AddToChart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToChartResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_getBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:getBasket" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_getBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBasketResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_OrderHead_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderHead" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_OrderHead_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderHeadResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_senOrderMail_InputMessage">
    <wsdl:part name="parameters" element="tns:senOrderMail" />
  </wsdl:message>
  <wsdl:message name="IBookStoreService_senOrderMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:senOrderMailResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookStoreService">
    <wsdl:operation name="DisplayUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStoreService/DisplayUserName" message="tns:IBookStoreService_DisplayUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStoreService/DisplayUserNameResponse" message="tns:IBookStoreService_DisplayUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStoreService/GetBooks" message="tns:IBookStoreService_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStoreService/GetBooksResponse" message="tns:IBookStoreService_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStoreService/GetBook" message="tns:IBookStoreService_GetBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStoreService/GetBookResponse" message="tns:IBookStoreService_GetBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToChart">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStoreService/AddToChart" message="tns:IBookStoreService_AddToChart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStoreService/AddToChartResponse" message="tns:IBookStoreService_AddToChart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBasket">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStoreService/getBasket" message="tns:IBookStoreService_getBasket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStoreService/getBasketResponse" message="tns:IBookStoreService_getBasket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderHead">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStoreService/OrderHead" message="tns:IBookStoreService_OrderHead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStoreService/OrderHeadResponse" message="tns:IBookStoreService_OrderHead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="senOrderMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStoreService/senOrderMail" message="tns:IBookStoreService_senOrderMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStoreService/senOrderMailResponse" message="tns:IBookStoreService_senOrderMail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookStoreService" type="tns:IBookStoreService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DisplayUserName">
      <soap:operation soapAction="http://tempuri.org/IBookStoreService/DisplayUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IBookStoreService/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <soap:operation soapAction="http://tempuri.org/IBookStoreService/GetBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToChart">
      <soap:operation soapAction="http://tempuri.org/IBookStoreService/AddToChart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBasket">
      <soap:operation soapAction="http://tempuri.org/IBookStoreService/getBasket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderHead">
      <soap:operation soapAction="http://tempuri.org/IBookStoreService/OrderHead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="senOrderMail">
      <soap:operation soapAction="http://tempuri.org/IBookStoreService/senOrderMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IBookStoreService" binding="tns:BasicHttpBinding_IBookStoreService">
      <soap:address location="http://localhost:59545/BookStoreService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>